#scheduleContainer {
    width: 330px;
    margin-top: 30px;
    padding-left: 9px;
    height: 525px;
    max-height: 525px;
    display: flex;
    position: relative;
    flex-direction: column;
    box-shadow: 0px 0px 3px #f9e9f9;
    background-color: #232323;
}

.inputs {
    margin-left: 5px;
    width: 150px;
}

#buu {
    background-color: rgb(24,24,24);
}

#buu:hover {
    background-color: rgb(64,64,64);
}

option {
    background-color: black;
}

.seePink {
    background-color: transparent;
    box-shadow: 0px 0px 3px #f9e9f9;
    border: none;
    padding: 2px 2px 2px 8px;
}