#scheduleContainer {
    width: 300px;
    margin-left: 8px;
    margin-top: 40px;
    padding-left: 15px;
    height: 242px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    background-color: lavenderblush;
    box-shadow: 0px 0px 3px black;
}

.inputs {
    margin-left: 5px;
    width: 150px;
}