

.blueShow {
    font-size: 20px;
    color: navy;
    opacity: 0;
    transition-duration: 0.7s;
    width: 200px;
    position: absolute;
    top: 130px;
    right: 5px;
}

.redShow {
    position: relative;
    z-index: 600;
    font-size: 20px;
    color: darkred;
    opacity: 0;
    transition-duration: 0.7s;
    width: 180px;
    position: absolute;
    top: 130px;
    left: 42px;
}

#show {
    opacity: 1;
}

#bye {
    transform: rotate(-40deg) translate(-100px, -1500px);
    transition-duration: 3s;
}