
.payrollSubContainer {

    width: 100%;
    border-bottom: 0.8px solid #f9e9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payrollSubContainer:last-child {
    border-bottom: none;
}


.info {
    font-size: 18px;
    padding: 10px;
}