#notificationContainer {
    display: flex;
    height: 90px;
    width: 370px;
    align-items: center;
    border: 1.2px solid #f9e9f9;
    cursor: pointer;
    position: relative;
    background-color: rgb(52, 52, 52);
}







#notificationContainer.selected {
    filter: invert(100%);
    border: 1.2px solid black;
}


#imo {
    filter: invert(100%);
}