#actualCoreContainer {
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ptags {
    position: relative;
    top: 2px;
    margin-right: 10px;
}