#actualCoreContainer {
    width: 350px;
    box-shadow: 0px 0px 3px black;
    height: 600px;
    background-color: lavenderblush;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ptags {
    position: relative;
    top: 2px;
    margin-right: 10px;
}