#notificationContainer {
    display: flex;
    height: 90px;
    width: 370px;
    align-items: center;
    border-bottom: 0.5px solid #f9e9f9;
    cursor: pointer;
    position: relative;
}

#notificationContainer:hover {
    cursor: pointer;
}

#notificationContainer.selected {
    background-color: rgb(60,60,60);
}