#main {
    height: 700px;
    width: 380px;
    top: 30px;
    position: relative;
    background-color: #232323;
}

.groupHolder {
    border: 1px solid gray;
    background-color: rgb(24,24,24);
    height: 214px;
    padding: 10px 0 10px 0;
    width: 365px;
}

.halfDiv {
    width: 50%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

#fullDiv {
    display: flex;
}