#rBuilderHeader {
    font-size: 26px;
    padding-top: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}


#whole {
    background-color: #232323;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#layoutBlock {
    background-color: rgb(15,15,15);
    margin-top: 70px;
    margin-left: 30px;
    position: relative;
}

.cornerButton {
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    cursor: grab;
}

#directions {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.subDirections {
    padding: 10px;
    width: 400px;
}

.divo {
    background-color: black;
    cursor: grab;
    border: none;
}

.divo:focus{
    cursor: grabbing;
}

#setTableButton {
    background-color: rgb(15,15,15);
    border: none;
    box-shadow: 0px 0px 3px #f9e9f9;
    height: 30px;
    width: 70px;
}




