.container {
    border-bottom: 2px solid #f9e9f9;
    padding-bottom: 6px;
    font-family: 'Josefin Sans';
    font-size: 15px;
    width: 365px;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container:hover {
    background-color: rgb(24, 24, 24);
    box-shadow: 0px 0px 4px #f9e9f9;
    cursor: pointer;
}


.butto {
    box-shadow: 0px 2px 5px black;
    right: 3px;
}

.butto:hover {
    box-shadow: 0px 1px 3px black;
    background-color: lightgray;
}