.container {
    border-bottom: 2px solid black;
    font-family: 'Josefin Sans';
    font-size: 15px;
    width: 375px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container:hover {
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
}


.butto {
    box-shadow: 0px 2px 5px black;
    right: 3px;
}

.butto:hover {
    box-shadow: 0px 1px 3px black;
    background-color: lightgray;
}