#wholeBox {
    border: 2px solid #f9e9f9;
    margin-top: 20px;
    position: relative;
    background-color: white;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(246, 246, 246);
    padding-bottom: 50px;
}

#backDrop {
    position: fixed;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.801);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #topPart {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 30px;
    align-items: center;
    width: 1000px;
  }

  @media (max-width: 1000px) {
      #topPart {
          flex-direction: column;
          height: 300px;
          width: 365px;
      }
  }


  @media (max-width: 500px) {
      #trickyBox {
          width: 365px;
          border: 2px solid #f9e9f9;
          margin-top: 10px;
      }

      #topPart {
          margin-left: 0;
      }

      #wholeBox {
          border: none;
          margin-top: 0px;
      }
  }
