#TitleContainer {
  height: 46vh;
  width: 44vw;
  align-self: flex-end;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

#title {
  font-size: 68px;
  font-weight: bold;
  position: relative;
  margin: 0;
  position: relative;
  top: -30px;
  font-family: "Permanent Marker", cursive;
}


@media (max-width: 950px) and (min-width: 0px) {
  #title {
    left: 120px;
    top: -26px;
  }

}

@media (max-width: 950px) and (min-width: 0px) {
  #TitleContainer {
    justify-content: center;
    left: 0px;
    order: -1;
    width: 100vw;
    height: 20vh;
    background: none;
  }
  #title {
    width: 100vw;
    top: 10px;
    left: 0px;
    text-align: center;
  }
 
}

@media (max-width: 700px) and (min-width: 0px) {
  #title {
    font-size: 36px;
  }
}
