
#title {
  font-size: 62px;
  font-weight: bold;
  position: absolute;
  bottom: 40px;
  left: 30px;
  font-family: "Permanent Marker", cursive;
}

.ah {
  margin-left: 185px;
}


@media (max-width: 950px) and (min-width: 0px) {
  #title {
    text-align: center;
    top: 20px;
    position: relative;
  }

}

@media (max-width: 950px) and (min-width: 0px) {
  #title {
    justify-content: center;
    left: 0px;
    order: -1;
    width: 100%;
    height: 100px;
    background: none;
    font-size: 50px;
  }
  .ah {
    height: 125px;
    width: 125px;
    margin-left: 140px;
    margin-top: -10px;
  }
}

@media (max-width: 700px) and (min-width: 0px) {
  #title {
    font-size: 42px;
  }
  .ah {
    margin-left: 100px;
  }
}
