#businessContainer {
    overflow: auto;
    max-height: 93vh;
    max-width: 1600px;
    display: grid; 
    grid-template-columns: 375px 1200px; 
    grid-template-rows: 93vh;
}

#backDrop {
    position: fixed;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.801);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  
  @media (max-width: 600px) {
    #businessContainer {
        display: flex;
        flex-direction: column;
    }
  }
 