#mainContainer {
    display: flex;
    padding-bottom: 100px;
    justify-content: space-around;
}

#mainContainerServices {
    display: flex;
    flex-direction: column;
    padding-bottom: 110px;
}

#duck:hover {
    background-color: rgb(75,75,75);
}




#addButton {
    background-color: rgb(24,24,24);
    box-shadow: 0px 0px 3px #f9e9f9;
}

#addButton:hover {
    background-color: rgb(75,75,75);
}

.q {
    font-family: 'Josefin Sans';
    margin-top: 30px;
}

.defaultInput {
    border: none;
    box-shadow: 0px 0px 2px #f9e9f9;
    padding: 2px;
}

@media(max-width: 1000px) {
    #mainContainerServices {
        width: 90%;
    }
}

#subContainer {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 775px) {
    #subContainer {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #mainContainerServices {
        padding-bottom: 100px;
    }
}

select {
    background-color: rgb(24,24,24);
}
option {
    background-color: rgb(24,24,24);
}

.miniTabs {
    font-size: 18px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 83px;
    text-align: center;
    background-color: #232323;
}


.miniTabs:hover {
    box-shadow: 0px 0px 2px #f9e9f9;
    background-color: rgb(75,75,75);
}

.inputs{
    width: 320px;
    height: 28px;
    font-size: 16px;
    padding-left: 6px;
    border: none;
    background-color: rgb(24,24,24);
    box-shadow: 0px 0px 5px #f9e9f9;
}


@media(max-width: 775px) {
    #mainContainer {
        width: 90%
    }
}