
.colorButton {
    padding:6px 8px;
    box-shadow: 0px 0px 4px black;
    border: none;
    font-size: 14px;
    margin-left: 10px;
    width: 70px;
    background-color: white;
}

#subButton:hover {
    box-shadow: 0px 0px 2px black;
}