#weekSelectorContainer {
    margin-top: 20px;
    margin-left: 8px;
    width: 314px;
    height: 239px;
    border: 1px solid black;
    top: 5px;
    left: 5px;
}

.day {
    width: 32px;
    margin-top: 2px;
    padding: 4px;
    border: 1px solid black;
    cursor: pointer;
}

.day:hover {
    background-color: lightgray;
}

#days {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

#calHeader {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
