#mainContainer {
    display: flex;
    justify-content: center;
}

#otherMainContainer {
    display: flex;
    justify-content: center;
    max-height: 200px;
    overflow: auto;
}

#otherSubContainer {
    width: 160px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f9e9f9;
    padding: 2px 6px 2px 6px;
    align-items: center;
    height: 40px;
}

#subContainer {
    width: 300px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.4px solid #f9e9f9;
    padding: 4px 10px 4px 10px;
    align-items: center;
    height: 40px;
}

#button {
    border: none;
    background-color: transparent;
    margin-top: 3px;
}
