#userClubContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 190px;
  width: 375px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 1px 4px #f9e9f9;
  margin-bottom: 20px;
  margin-top: 6px;
}

.clubItem {
  margin-top: 5px;
  font-family: "Josefin Sans", sans-serif;
}

#buttonsContainer {
  width: 180px;
}

.userSubContainer {
  display: flex;
  height: 184px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgb(24,24,24); */
}

.clubButton {
  width: 150px;
  border: none;
  height: 18px;
  color: black;
  box-shadow: 0px 0px 3px black;
  font-size: 14px;
  height: 30px;
  letter-spacing: 0.3px;
}

.clubButton:hover {
  border: 1px solid darkgray;
  box-shadow: 0px 0px 2px black;
}

#leftContainer {
  align-items: flex-start;
  margin-left: 20px;
}

#rightContainer {
  margin-right: 5px;
  justify-content: space-around;
}

@media (max-width: 970px) {
  #userClubContainer {
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 350px;
  }

  .centerContainer {
    display: none;
  }

  #buttonsContainer {
    height: 130px;
  }
}
