#loginScreenContainer {
  background: url("./image.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
}

.loginScreenContainer {
  height: 100vh;
  width: 100%;
  display: flex;
}

.coverDiv {
  background: linear-gradient(to right, rgb(256,256,256, 0.8), rgb(0, 0, 0, 0.8));
}

#loginScreenLeftSide {
  display: flex;
  flex-direction: column;
  width: 44vw;
  height: 100vh;
}

@media (max-width: 950px) and (min-width: 0px) {

  .coverDiv {
  background: linear-gradient(to bottom, rgb(256,256,256, 0.8), rgb(0, 0, 0, 0.8));
  }
  .loginScreenContainer {
    flex-direction: column;
    height: 1110px;
  }
  #loginScreenLeftSide {
    width: 100%;
    height: 550px;
    align-items: center;
  }
}
