#businessContainer {
    width: 300px;
    height: 500px;
    box-shadow: 0px 0px 7px black;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-top: 20px;
    background-color: #fdf5fd;
  }

  #moveDown {
    position: relative;
    top: 25px;
}


  .shortenedSection {
    height: 178px;
    width: 240px;
    box-shadow: 0px 0px 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -5px;
    background-color: white;
    margin-top: 20px;
  }

  .buttonContainer {
    position: relative;
    top: -6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
    width: 170px;
    margin-top: 30px;
  }

  @media(max-width: 1200px) {

   
    .section {
      width: 240px;
    }
    #hours {
      display: none;
    }
 

  }