#businessContainer {
  width: 600px;
  height: 240px;
  background-color: white;
  border: 1px solid gray;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

#buttonContainer {
  position: absolute;
  bottom: 5px;
  left: 60px;
}

#shortenedHeightSection {
  height: 185px;
  position: relative;
  top: -18px;
}

.sectionContent {
  align-self: flex-start;
  font-size: 14px;
  margin-left: 8px;
  margin-top: 6px;
}

.businessName {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  position: absolute;
  top: -22px;
  width: 100%;
  text-align: center;
  background-color: white;
  font-size: 20px;
}

.boxHeader {
  text-align: center;
  width: 85%;
  font-size: 16px;
  padding-bottom: 2px;
  border-bottom: 1px solid gray;
}

.section {
  height: 220px;
  width: 30%;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media(max-width: 530px) {
  #businessContainer {
    width: 330px;
    height: 400px;
  }
}