#employeeHome {
    height: 95vh;
    display: flex;
    justify-content: space-around;
}

#backDrop {
    position: fixed;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.801);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }


  @media (max-width: 800px) {
      #employeeHome {
          flex-direction: column-reverse;
          align-items: center;
      }
  }