#employeeHome {
    background-color: rgb(243, 243, 243);
    height: 97vh;
    display: flex;
    justify-content: center;
}


@media(max-height: 580px) {
    #employeeHome {
        height: 580px;
    }
}