#notificationsContainer {
    margin-top: 50px;
    position: relative;
    overflow: auto;
    max-height: 550px;
}

#mainContainer {
    display: flex;
    justify-content: space-around; 
    width: 100%;
    margin-top: 20px;
}


#bigContainer {
    background-color: #232323;
}

#yooooo {
    margin-top: 12px;
}

#alsoYo {
    width: 425px;
    box-shadow: 0px 0px 2px #f9e9f9;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(24,24,24);
}


@media (max-width: 750px) {
    #bigContainer {
        height: 180vh;
    }
    #yooooo {
        margin-top: 40px;
    }
    #mainContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 450px) {
    #alsoYo {
        width: 365px;
    }
}
