#mainContainer {
    display: flex;
    justify-content: center;
    max-height: 250px;
}

#subContainer {
    width: 280px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 2px black;
    padding: 4px 10px 4px 10px;
    align-items: center;
    height: 40px;
}

#button {
    border: none;
    background-color: transparent;
    font-size: 30px;
    margin-top: -3px;
    position: relative;
    right: 8px;
}
