#f {
    height: 210px;
    background-color: rgb(24,24,24);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #f9e9f9;
    margin-bottom: 50px;
}





@media(max-width: 700px) {
    #f {
        height: 180px;
        margin-top: 30px;
    }
}