#mainContainer {
    padding: 70px 10px 70px 100px;
    overflow: auto;
    max-height: 95vh;
    background-color: #232323;
    position: relative;
    border-left: 2px solid #f9e9f9;
}

#subo {
    position: absolute; 
    left: 20px;
    top: 64px;
    width: 80px; 
}

#courto {
    display: flex;
    border: 2px solid black;
}



@media(max-width: 600px) {
    #subo {
        transform: none;
    }
    #mainContainer {
        max-height: none;
        transform: none;
        overflow: visible;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: none;
    }
    #courto {
        transform: none;
        display: block;
        border: none;
        flex-direction: column;
    }
}
