#userHomeContainer {
  background-color: rgb(236, 236, 236);
  display: flex;
}

#clubsSubscribedHalf {
  width: 65%;
  background-color: rgb(236, 236, 236);
}

#bookingsHalf {
  width: 35%;
}

.half {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  padding-bottom: 40px;
}

.noClubsBookingsContainer {
  box-shadow: 0px 1px 4px black;
  z-index: 0;
  width: 350px;
  height: 130px;
  line-height: 20px;
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  position: relative;
  top: 12px;
}

  @media (max-width: 970px) {
    #clubsSubscribedHalf {
      width: 50%;
    }
  
    #bookingsHalf {
      width: 50%;
    }
  }


@media (max-width: 720px) {
  #userHomeContainer {
    flex-direction: column;
  }
  #bookingsHalf {
    width: 100%;
    order: 1;
  }
  #clubsSubscribedHalf {
    right: 0px;
    order: 2;
    width: 100%;
  }
  .noClubsBookingsContainer {
    width: 320px;
    height: 160px;
    line-height: 22px;
  }
}



