#userHomeContainer {
  background-color: rgb(212, 212, 255);
  display: flex;
}

#clubsSubscribedHalf {
  width: 65%;
}

#bookingsHalf {
  width: 35%;
}

.half {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  padding-bottom: 40px;
}

.noClubsBookingsContainer {
  box-shadow: 0px 1px 4px black;
  z-index: 0;
  width: 350px;
  height: 130px;
  line-height: 20px;
  background-color: rgb(248, 248, 248);
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  position: relative;
  top: 12px;
}

.homeContainerClass {
    height: 98vh;
  }


.otherHomeContainerClass {
   height: 100vh;
  }


@media (min-height: 500px) and (min-width: 720px) {
  .homeContainerClass {
    height: 105vh;
  }
}


  @media (max-width: 970px) {
    #clubsSubscribedHalf {
      width: 50%;
    }
  
    #bookingsHalf {
      width: 50%;
    }
  }


@media (max-width: 720px) {
  #userHomeContainer {
    flex-direction: column;
  }
  #bookingsHalf {
    width: 100%;
    order: 1;
  }
  #clubsSubscribedHalf {
    right: 0px;
    order: 2;
    width: 100%;
  }
  .noClubsBookingsContainer {
    width: 320px;
    height: 160px;
    line-height: 22px;
  }
  .otherHomeContainerClass {
    height: 130vh;
  }
}


@media (max-height: 700px) and (min-height: 500px) and (max-width: 600px) {
  .homeContainerClass {
    height: 105vh;
  }
}


