#userHomeContainer {
  background-color: #232323;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 105vh;
}

#clubsSubscribedHalf {

}

#bigC {
  margin-top: 20px;
}


.half {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  padding-bottom: 40px;
}

.noClubsBookingsContainer {
  box-shadow: 0px 1px 4px #f9e9f9;
  border-radius: 10px;
  z-index: 0;
  width: 350px;
  height: 130px;
  line-height: 20px;
  background-color: rgb(24,24,24);
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  position: relative;
  top: 12px;
}


@media (max-width: 1150px) {
  #bookingsHalf {
    width: 100%;
    order: 1;
  }
  #clubsSubscribedHalf {
    right: 0px;
    order: 2;
    width: 100%;
  }
  .noClubsBookingsContainer {
    width: 320px;
    height: 160px;
    line-height: 22px;
  }
  .adContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 2;
  }
  #userHomeContainer {
    min-height: 0;
  }
  #bigC {
    margin-top: 10px;
  }
}



