#singlePage {
    height: 800px;
    width: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mcb {
    background-color: white;
}

#mcb:hover {
    background-color: rgb(217, 217, 217);
}


.inputs {
    height: 24px;
    font-size: 14px;
    border: none;
    border-radius: 0;
    border: 1px solid black;
    padding-left: 4px;
}