#bSignupContainer {
    width: 100%;
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

#backButton {
    position: absolute;
    top: 51px;
    left: -11px;
    z-index: 10000;
}

.title {
    font-size: 42px;
    font-family: 'Permanent Marker';
    position: relative;
    left: 50px;
    cursor: pointer;
   
}

.home {
    position: relative;
    right: 50px;
    font-family: 'Josefin Sans';
    font-size: 32px;
    top: 6px;
    cursor: pointer;
}


.daySeparator{
    border-bottom: 1px solid gray;
    width: 95%;
    padding: 10px;
    text-align: center;
}

.formInput {
    width: 225px;
    font-size: 16px;
    height: 24px;
    border: none;
    padding-left: 8px;
    box-shadow: 0px 0px 3px black;
}

#formContainer {
    margin-top: 50px;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#welcomeContainer {
    width: 340px;
    height: 550px;
    box-shadow: 0px 0px 5px black;
    background-color: lavender;
    position: relative;
    top: 20px;
    padding: 5px;
    left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.peopleContainer {
    position: relative;
}


#kindOfBusinessDiv {
    font-size: 18px;
    text-align: center;
     margin-top: 20px;
}

#inputOrSelectKindBusiness {
    width: 240px; 
    height: 26px;
    font-size: 16px;
    margin-top: 10px;
}

@media(max-width: 1000px) {
    #welcomeContainer {
        left: 0;
    }
}

@media(max-width: 900px) {
    .peopleContainer {
        display: none;
    }
}

@media(max-width: 600px) {
    .title {
        font-size: 32px;
        left: 15px;
    } 
    .home {
        right: 15px;
        font-size: 24px;
    }
    #bSignupContainer {
        height: 105vh;
    }
}

@media(max-width: 390px) {
    #bSignupContainer {
        height: 110vh;
    }
}
