#inputContainer {
  align-self: center;
  margin-top: 25px;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  width: 94%;
}

.threeRowDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

#searchButton {
  width: 90px;
  font-family: "Josefin Sans", sans;
  font-size: 14px;
  padding-top: 4px;
  margin: 7px 15px;
  border: none;
  box-shadow: 1px 1px 4px black;
  background-color: white;
  height: 30px;
}

#searchButton:hover {
  border: 1px solid black;
  box-shadow: none;
}

.searchInput {
  width: 170px;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 4px black;
  height: 26px;
  padding-left: 6px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  padding-top: 4px;
  color: black;
  margin: 7px 15px;
}

.searchInput:focus {
  border-bottom: 2px solid black;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(212,212,255);
  width: 100%;
}

@media(max-width: 600px) {
  .threeRowDiv {
    flex-direction: column;
    align-items: center;
  }
}





