#clubsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#clubListHeader {
  height: 70px;
  font-size: 44px;
}


.actualClubsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, rgb(212,212,255), rgb(230, 230, 230));
  justify-content: space-around;
  padding-bottom: 15px;
}


@media(min-width: 1200px) {
  #defaultHeight {
   height: 120vh;
  }
}


@media(max-width: 1200px) {
  #defaultHeight {
    height: 140vh;
  }
}

@media(max-width: 600px) {
  #defaultHeight {
    height: 1300px;
  }
}