.businessName {
    font-size: 26px;
    font-family: 'Josefin Sans';
    text-shadow: 2px white;
    position: relative;
    left: 50px;
    font-weight: bold;
}

.horizontalHolder {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.businessStuff {
    height: 200px;
    padding: 10px;
    font-size: 15px;
    width: 160px;
    background-color: white;
}

.sideBar {
    width: 450px;
    height: 90vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#rightSide {
    background: linear-gradient(to left, gray, lavender);
}

.basicP {
    margin-bottom: 3px;
}